<a href="https://colab.research.google.com/github/yazabat/DEL_Snowflake_ComputeLayer/blob/main/SPARK_01_Transformations_and_Actions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Init Spark**

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [15]:
#INSTALACION
!apt-get install openjdk-8-jre
!apt-get install scala
# instalar JAVA
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install py4j
# instalar Spark
#!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
#!tar xf spark-2.4.8-bin-hadoop2.7.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
# instalar para usar con pypthon
!pip install pypandoc

!pip install findspark

Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jre is already the newest version (8u342-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 12 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
scala is already the newest version (2.11.12-4~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 12 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: py4j in /usr/local/lib/python3.7/dist-packages (0.10.9)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pypandoc in /usr/local/lib/python3.7/dist-packages (1.9)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [21]:
# Download Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
# Unzip the file
!tar xf spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
# Unzip the file

tar: spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [25]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [16]:
#import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [26]:
!pip3 install pyspark==3.0.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark==3.0.2 in /usr/local/lib/python3.7/dist-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark==3.0.2) (0.10.9)

In [27]:
import findspark
findspark.init()

In [28]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

## Sample

In [ ]:
#SUBIDA DE ARCHIVOS
from google.colab import files
#files.upload()

## Transformations and Actions - 01 Class

In [29]:
from pyspark import SparkContext

In [32]:
sc = SparkContext.getOrCreate();

In [54]:
# Create a initialator
sc = SparkContext(master='local', appName="transformacionesYAcciones")

In [ ]:
# run drive in the colab
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [55]:
# Read dataset
%cd '/content/drive/MyDrive/2022-spark/files'

/content/drive/MyDrive/2022-spark/files

In [56]:
# Create a read distribuited data 
rdd1 = sc.parallelize([1,2,3])
type(rdd1)

pyspark.rdd.RDD

In [39]:
!ls

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista2.csv  evento.csv	      paises.csv
deportista.csv	 juegos.csv	      resultados.csv

In [57]:
# load rdd
path = '/content/drive/MyDrive/2022-spark/files/'
equiposOlimpicosRDD = sc.textFile(path+'paises.csv').map(lambda line: line.split(','))

In [58]:
# Visaulize rdd
rdd1.collect()

[1, 2, 3]

In [59]:
# Show context of Spark
sc

In [45]:
# cloning repo in case don't have data yet
!git clone https://github.com/terranigmark/curso-apache-spark-platzi

Cloning into 'curso-apache-spark-platzi'...
remote: Enumerating objects: 168, done.
remote: Counting objects: 100% (168/168), done.
remote: Compressing objects: 100% (106/106), done.
remote: Total 168 (delta 92), reused 120 (delta 48), pack-reused 0
Receiving objects: 100% (168/168), 8.00 MiB | 9.97 MiB/s, done.
Resolving deltas: 100% (92/92), done.

In [60]:
# Read first 5 rows
equiposOlimpicosRDD.take(5)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG']]

In [47]:
# Stop the memory
sc.stop()

## Transformations and Actions - 02 Class

In [48]:
# Read first 15 rows
equiposOlimpicosRDD.take(15)

Py4JJavaError: ignored

In [ ]:
# count number of rows
equiposOlimpicosRDD.map(lambda x: x[2]).distinct().count()

231

In [ ]:
# group by teams for country
equiposOlimpicosRDD.map(lambda x: (x[2],x[1])).groupByKey().mapValues(len).take(5)

[('sigla', 1), ('AUT', 11), ('MEX', 9), ('ARG', 18), ('AFG', 1)]

In [ ]:
# diference with 'list' in stead of 'len'
equiposOlimpicosRDD.map(lambda x: (x[2],x[1])).groupByKey().mapValues(list).take(5)

[('sigla', ['equipo']),
 ('AUT',
  ['30. Februar',
   'Austria',
   'Austria-1',
   'Austria-2',
   'Breslau',
   'Brigantia',
   'Donar III',
   'Evita VI',
   'May-Be 1960',
   '"R.-V. Germania; Leitmeritz"',
   'Surprise']),
 ('MEX',
  ['A North American Team',
   'Acipactli',
   'Chamukina',
   'Mexico',
   'Mexico-1',
   'Mexico-2',
   'Nausikaa 4',
   'Tlaloc',
   'Xolotl']),
 ('ARG',
  ['Acturus',
   'Antares',
   'Arcturus',
   'Ardilla',
   'Argentina',
   'Argentina-1',
   'Argentina-2',
   'Blue Red',
   'Covunco III',
   'Cupidon III',
   'Djinn',
   'Gullvinge',
   'Matrero II',
   'Mizar',
   'Pampero',
   'Rampage',
   'Tango',
   'Wiking']),
 ('AFG', ['Afghanistan'])]

In [ ]:
# createa filter to Argentina values
equiposArgentinos = equiposOlimpicosRDD.filter(lambda x: 'ARG' in x)
equiposArgentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

In [ ]:
# count Aprox is a count of data, rows or columns in a dataframe wit a time limit counting in miliseconds
equiposOlimpicosRDD.countApprox(1)

1185

In [ ]:
equiposOlimpicosRDD.count()

1185

In [ ]:
# count athletes
deportistaOlimpicoRDD.count()

135572

In [ ]:
# show top rows
equiposOlimpicosRDD.top(5)

[['id', 'equipo', 'sigla'],
 ['999', 'Stella-2', 'NOR'],
 ['998', 'State VI', 'CAN'],
 ['997', 'Starlight III', 'GBR'],
 ['996', 'Starita', 'NED']]

In [ ]:
deportistaOlimpicoRDD.top(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['99999', 'Alexander Grant Alick Rennie', '1', '32', '182', '71', '967'],
 ['99998', 'Robert John Bob Renney', '1', '21', '178', '90', '66'],
 ['99997', 'Thomas Renner', '1', '24', '183', '86', '71'],
 ['99996', 'Sara Renner', '2', '21', '168', '63', '174']]

In [ ]:
# read 'resultados.csv'
resultado = sc.textFile(path+'resultados.csv').map(lambda x: x.split(','))
resultado.top(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['99999', 'NA', '50604', '51', '568'],
 ['99998', 'NA', '50603', '47', '36'],
 ['99997', 'NA', '50602', '49', '262'],
 ['99996', 'NA', '50601', '47', '614']]

In [ ]:
# drop NA values that are people without medals
resultadoGanador = resultado.filter(lambda l: 'NA' not in l[1])
resultadoGanador.take(5)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['4', 'Gold', '4', '2', '4'],
 ['38', 'Bronze', '15', '7', '19'],
 ['39', 'Bronze', '15', '7', '20'],
 ['41', 'Bronze', '16', '50', '14']]

### Challenge

In [ ]:
# Challenge is join 3 RDDs "equipos", "deportistas" y "resultados"

equiposYDeportistas = deportistaOlimpicoRDD.map(lambda l: [l[-1],l[:-1]]).join(equiposOlimpicosRDD.map(lambda x: [x[0], x[2]])).join(resultadoGanador.map(lambda y: [y[2], y[1]]))
equiposYDeportistas.takeSample(False,6,25)

## Number operations

In [ ]:
# save medal values according to international commission of olimpic games
valoresMedallas = {'Gold': 7,
                   'Silver': 5,
                   'Bronze': 4}

In [ ]:
# asing medal values  to RDD
paisesMedallas = equiposYDeportistas.map(lambda x: (x[1][0][-1], valoresMedallas[x[1][1]]))

In [ ]:
# import operator library
from operator import add

In [ ]:
# sum country by medal
conclusion = paisesMedallas.reduceByKey((add)).sortBy(lambda x: x[1], ascending=False)

In [ ]:
conclusion.take(10)

[('ITA', 74920),
 ('NED', 65560),
 ('GER', 22323),
 ('JPN', 19950),
 ('NZL', 9220),
 ('TCH', 8160),
 ('BLR', 5012),
 ('RSA', 4735),
 ('TUR', 3965),
 ('GHA', 3430)]

## Class 05 -  inference data types

Create a dataframe from RDD

In [ ]:
# load libraries for dataframes
from pyspark import SparkContext
from pyspark.sql import SparkSession, SQLContext

from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, Row

In [ ]:
# Create a initialator
sqlContext = SQLContext(sc)

In [ ]:
deportistaOlimpicoRDD.take(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278']]

### Challenge, create 4 dataframes from RDDs

In [ ]:
# remove heads of RDDs
 eve= deportistaOlimpicoRDD.mapPartitionsWithIndex(eliminarEncabezado)

In [ ]:
# challenge, 
# create Schemas

deporte_schema = StructType([
          StructField("deporte_id",IntegerType(),False),
          StructField("deporte", StringType(),False)
])

evento_schema = StructType([
          StructField("evento_id",IntegerType(),False),
          StructField("evento",StringType(),False),
          StructField("deporte_id",IntegerType(),False)
])

paises_schema = StructType([
          StructField("id",IntegerType(),False),
          StructField("equipo",StringType(),False),
          StructField("sigla",StringType(),False)
])

resultados_schema = StructType([
          StructField("resultado_id",IntegerType(),False),
          StructField("medalla",StringType(),False),
          StructField("deportista_id",IntegerType(),False),
          StructField("juego_id",IntegerType(),False),
          StructField("evento_id",IntegerType(),False)
])

In [ ]:
# creation of dataframes

deporteDF = sqlContext.createDataFrame(deporteRDD, deporte_schema)
eventoDF = sqlContext.createDataFrame(eventoRDD, evento_schema)
paisesDF = sqlContext.createDataFrame(paisesRDD, paises_schema)
resultadosDF = sqlContext.createDataFrame(resultadosRDD, resultados_schema)

NameError: ignored